<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="stylesheets/login.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <style>
    body{
        overflow: hidden;
    }
    .cont{
      position: absolute;
    z-index: 2;
        width: 100%;
        background: white;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        width: auto;
        height: 50%;
    }
</style>
</head>
<body>
  <div class="cont">
    <img src="images/naruto-run-gif.gif" alt="">
</div>
  <div class="container">
    <div class="content">
      <!--pinterest logo-->
      <img src="images/sharingan.gif" style="border-radius: 50%;" alt="pin logo" class="img1" />
      <p class="header">Make account</p>
      <form action="/register" method="post">
        <input type="email" name="email" placeholder="email" class="detail" />
      <input type="text" name="username" placeholder="username" class="detail" /><br />
      <input type="text" name="fullname" placeholder="fullname" class="detail" /><br />
      <input type="password" name="password" placeholder="password" class="detail" /><br />
      <input type="submit" class="btn int" value="Register Account">

      </form>
     
      <footer>
        <p>
          By continuing, you agree to Konoha's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <a href="/login">Already a user? Login </a>
      </footer>
    </div>
  </div>
  <a href="/login" class="upbtn">login</a>
<script>
  var loader = document.querySelector(".cont");

  setTimeout(() => {
    loader.style.display = "none";
  }, 5000);
</script>
</body>
</html>